<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">


    <bean id="adminRepo" class="RepositoryAdmin"/>


    <bean id="tripRepo" class="RepositoryTrip"/>

    <bean id="bookingRepo" class="RepositoryBooking">
           <constructor-arg ref="tripRepo"/>
    </bean>


    <bean id="chatService" class="Service">
        <constructor-arg ref="adminRepo"/>
        <constructor-arg ref="bookingRepo"/>
        <constructor-arg ref="tripRepo"/>
    </bean>

    <bean id="chatServiceImp" class="ServicesImplem">
        <constructor-arg ref="chatService"/>
    </bean>

    <bean class="org.springframework.remoting.rmi.RmiServiceExporter">

        <property name="serviceName" value="Tripping"/>
        <property name="service" ref="chatServiceImp"/>
        <property name="serviceInterface" value="Services"/>
        <property name="servicePort" value="1099"/>
    </bean>



</beans>